$background: rgb(247, 243, 239);

$pure-black: rgb(0, 0, 0);
$black: rgb(30, 29, 30);
$white: rgb(255, 255, 255);
$off-white: rgb(247, 243, 239);
$transparent: rgba(157, 157, 157, 0.0);

$dark-gray: rgb(119, 119, 119);
$light-gray: rgb(221, 218, 214);

$dark-brown: rgb(63, 56, 37);
$tan: rgb(234, 230, 219);
$brown-gray: rgb(108, 104, 91);
$green-tan: rgb(217, 216, 203);

$terracotta: rgb(172, 130, 109);



